**
!deploy/
!deploy/robot/
!deploy/robot/**
!src/
!src/core/
!src/core/interfaces/
!src/core/interfaces/**
!src/core/core/
!src/core/core/**
!src/core/control/
!src/core/control/**
!src/products/
!src/products/omx_adapter/
!src/products/omx_adapter/**
!src/devices/
!src/devices/bringup/
!src/devices/bringup/**
!src/navigation/
!src/navigation/navigation/
!src/navigation/navigation/**
!src/sim/
!src/sim/description/
!src/sim/description/**
**/__pycache__/
**/*.pyc
**/.pytest_cache/
src/sim/description/meshes/**
