**
!deploy/
!deploy/robot/
!deploy/robot/**
!src/
!src/core/
!src/core/interfaces/
!src/core/interfaces/**
!src/core/core/
!src/core/core/**
!src/apps/
!src/apps/omx_adapter/
!src/apps/omx_adapter/**
!src/hardware/
!src/hardware/bringup/
!src/hardware/bringup/**
!src/navigation/
!src/navigation/navigation/
!src/navigation/navigation/**
!src/sim/
!src/sim/description/
!src/sim/description/**
**/__pycache__/
**/*.pyc
**/.pytest_cache/
src/sim/description/meshes/**
