[Unit]
Description=Daily Rosy team PC reboot at 06:00

[Timer]
OnCalendar=*-*-* 05:58:00
Persistent=false
AccuracySec=1s

[Install]
WantedBy=timers.target
